*{
    margin: 0px;
}

.menuBanner{
border: solid thick orangered;

border-width: 20px;
height: 18vh;
display: flex;
justify-content: space-evenly;
background-color: orangered;

}
.menu{
    width: 100%;
    height: 100%;
  
   
    
}

.menuItem{
border: solid orangered;
border-width: 8px;
width: 100%;
border-radius: 50%;
background-image: url("https://i.pinimg.com/736x/ac/99/1f/ac991f352e00a1b150f46197fa7d2b21--giraffe-print-free-vectors.jpg");
background-size: 100% 250%;
}
.cafeContainer{
border: solid royalblue;
display: flex;
}

.backSection{
border: solid limegreen;
width: 20%;
height: 40vh;
}

.ladder{
border: solid magenta;
width: 50%;
height: 100%;

}
.employSection{
border: solid chocolate;
width: 35%; 
height: 40vh;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: flex-end;
}
.employee{
    display: flex;
    height: 50%;
    /* justify-content: flex-end; */
}


.counter1{
border: solid cyan;
height: 30px; 
width: 60px; 
align-self: flex-end;


}
.counter2{
 border: solid red;
 height: 70px;
 width: 100%;
}
.worker{
    border: solid gold;
    height: 140px;
    width: 100px;
    align-self: flex-end;
}

.custSection{
    border: solid palegreen;
    width: 40%;
    display: flex;
    align-items: flex-end;
}

.customer{
border: solid green;
height: 50%;
width: 120px;
}
.exitSection{
border: solid slateblue;
width: 20%;
display: flex;
align-items: flex-end;
flex-direction: row-reverse;
}

.door{
border: solid purple;
height: 80%;
width: 100px;

}
.lobbyContainer{
border: solid pink;
display: flex;
}

.tableContainer{
border: solid yellow;
width: 33%;
height: 40vh;
display: flex;
justify-content: flex-end;
}


.chair{
border: solid red;
width: 25%;
}

.table{
border: solid blue;
width: 50%;
}

